<!-- templates/base.html -->
{% load static %}
<html>
    <head>
        <title>NHSEE</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        
    </head>
    
    <body>
        
        <header>
            <div class="nav-left">
                    <a href="{% url 'home' %}" id="logo">NHSEE</a>
                    <a href="{% url 'display_judges'  %}" role="button" class="b"> Judge </a>
                    <a href="{% url 'display_students' %}" role="button" class="b"> Student </a>
                    <a href="{% url 'display_projects' %}" role="button" class="b"> Project </a>
                    <a href="{% url 'display_judge_assignments' %}" role="button" class="b"> Judge Assignment </a>
                    <button name="import-btn" id="import-btn">Import</button>
            </div>
        </header> 
        <div>
            {% block content %}
            {% endblock content%}
        </div>
    </body>
</html>