{% extends 'base.html' %}
    {% block content %}
    <div align="center">
        <h2 allign:center>Project Grading</h2>
    </div>
        <form method="POST">
            {% csrf_token %}
            <table style="width: 70%;" align='center'>
            <tr>
                <td><h3>Judge Info</h3></td>
                <td>
                {{ form.judge_id }}
                </td>
            </tr>
            <tr>
                <td><h3>Project Info</h3></td>
                <td>
                {{ form.project_id }}
                </td>
            </tr>
            <tr>
                <td><h3>Scores</h3></td>
                <td>
                <table style="width: 100%; max-width: 800px; table-layout: fixed;">
                    <tr>
                        <td><h4>Category</h4></td>
                        <td><h4>Points possible</h4></td>
                        <td><h4>Points earned</h4></td>
                    </tr>
                    <tr>
                        <td>Goal</td>
                        <td>10</td>
                        <td>{{ form.goal_score }}</td>
                    </tr>
                    <tr>
                        <td>Plan</td>
                        <td>20</td>
                        <td>{{ form.plan_score }}</td>
                    </tr>
                    <tr>
                        <td>Action</td>
                        <td>20</td>
                        <td>{{ form.action_score }}</td>
                    </tr>
                    <tr>
                        <td>Results and Analysis</td>
                        <td>25</td>
                        <td>{{ form.result_analysis_score }}</td>
                    </tr>
                    <tr>
                        <td>
                            Communication
                            <br>
                            Notebook(s) 10
                            <br>
                            Poster       5
                            <br>
                            Interview   10
                        </td>
                        <td>25</td>
                        <td>{{ form.communication_score }}</td>
                    </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div align='center'>

                    <input type="submit" value="Save" style="width: 10%; max-width: 100px;">
                    </div>
                </td>
            </tr>
            </table>
        </form>
    {% endblock content %}
